.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #c95e62;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease-in-out;
}

.loading.hidden {
  opacity: 0;
}

.title {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  opacity: 1;
  animation: fadeTitle;
  transition: opacity .3s ease-in-out;
}

.title.fadeIn {
  opacity: 1;
}

.loading.fadeIn {
  opacity: 1;
}

.loading.fadeOut {
  opacity: 0;
}

.loading.hidden .title {
  opacity: 1;
}